fastapi
uvicorn[standard]
python-multipart
tensorflow
opencv-python
pillow
numpy
pandas
openpyxl
langchain
langchain-core
langchain-groq
langchain-community
langgraph
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
